<h1>Discover the gallerists</h1>

<ul>
  <% @gallerists.each do |gallerist| %>
    <li><%= gallerist.name %></li>
  <% end %>
</ul>

<%= cl_image_tag("v1637676706/ak1lkgqsxtnof5zbcnxc.jpg",
      width: 400, height: 300, crop: :thumb, gravity: :face) %>
