<h1>Gallery</h1>

<h2><%= @gallerist.name %></h2>
<p><%= @gallerist.address %></p>
<p><%= @gallerist.rating %></p>

<% @gallerist.photos.each do |photo| %>
  <%= cl_image_tag photo.key, height: 300, width: 400, crop: :fill %>
<% end %>
