<div class="container-fluid">
  <div  class= "header"><h1><strong>Search for<strong></h1></div>
  <div class= "header-2"><h3>new talents</h3></div>
  <%# <div class="d-flex justify-content-between align-bottom page-title">
    <h1 class="pt-4"> Search for <br> new talents</h1>
    <img class="arrow" src="https://res.cloudinary.com/charlotte-smets/image/upload/v1637834261/arrow_htgxnl.png" width="150">
  </div>
  <hr> %>

  <%= form_tag artworks_path, method: :get do %>
    <%#= text_field_tag :query,
      params[:query],
      class: "form-control",
      placeholder: "Find an art"
    %>
    <div class="add-filter">
      <p class="font-weight-bold">Select your filters</p>
    </div>

    <div class= "tag-item">
      <div class="add-filter-2">
        <p style="font-weight:lighter">Pick styles that match yours!</p>
      </div>
      <%["Drawing","Painting",
          "Graphic Design",
          "Photography",
          "Sculpture",
          "Cartoon",
          "Graffiti",
          "Digital Art",
          "Engraving",
          ].each do |style|%>
          <%= check_box_tag "style[#{style}]", style, nil, id: style.downcase.gsub(" ", "_"), class: "tag-selector"%>
          <%= label_tag style.downcase.gsub(" ", "_"), style%>
        <%end%>
        <div class="add-more"><p>+ See more</p></div>

        <%= submit_tag "Search", class: "btn btn-ghost" %>

    </div>
  <% end %>
</div>

<%# <div class="container">
  <fieldset class="form-group check_boxes optional snippet_tags">
    <legend class="col-form-label pt-0"></legend>
    <input type="hidden" name="snippet[tag_ids][]" value="">
  </fieldset>
</div>   %>

<%# "Sketch", "Silkscreen on vinyl", "Dark Painting", "Pop art", "Hard Edge Painting", "Digital Dialogues", "Sculptor", "Screen Print on Paper", "Lithographs and Silkscreen", %>
