<div class="container-fluid">
  <div  class= "header"><h1><strong>Search for<strong></h1></div>
  <div class= "header-2"><h3>new talents</h3></div>

  <%= form_tag artworks_path, method: :get do %>
    <%#= text_field_tag :query,
      params[:query],
      class: "form-control",
      placeholder: "Find an art"
    %>
    <div class="add-filter">
      <p class="font-weight-bold">Select your filters</p>
    </div>

    <div class= "tag-item">
      <div class="add-filter-2">
        <p style="font-weight:lighter">Pick styles that match yours!</p>
      </div>

      <% ["Drawing","Painting",
          "Graphic Design",
          "Photography",
          "Sculpture",
          "Cartoon",
          "Graffiti",
          "Digital Art",
          "Engraving",
          ].each do |style| %>
          <%= check_box_tag "style[#{style}]", style, nil, id: style.downcase.gsub(" ", "_"), class: "tag-selector"%>
          <%= label_tag style.downcase.gsub(" ", "_"), style %>
      <% end %>

      <div class="add-more">
        <p>+ See more</p>
      </div>

      <%= submit_tag "Search", class: "btn btn-ghost" %>
    </div>
  <% end %>
</div>
