<h1>#Dashboard</h1>
<% @artworks.each do |artwork| %>
  <div class="card-artwork-dashboard">
    <img src="https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/skateboard.jpg" />
    <div class="card-artwork-dashboard-infos">
      <h2><%= artwork.title %></h2>
      <p><%= artwork.date%></p>
      <p><%= artwork.style %></p>
    </div>
  </div>
<% end %>
