<div class="container-fluid home-container" >
  <img src="https://res.cloudinary.com/clemi04/image/upload/v1638446997/production/artmeets_logo_zrzrkk.jpg" alt="Artmeets logo" width="150" >

  <div class="home">
    <h1>Welcome to Artmeets!</h1>
    <h4>Discover new talents everyday</h4>
    <%= link_to filter_path do %>
      <button class="button-welcome">Start now</button>
    <% end %>
  </div>
</div>
