<div class="container-fluid home-container" >
  <div class="home">
    <h1>Welcome back !</h1>
    <h4>Discover new talents everyday</p>
    <%= link_to filter_path do %>
      <button class="button-welcome">Start now</button>
    <% end %>
  </div>
</div>
