<h1>IT'S A MATCHHHHHHH</h1>


<% @matches.each do |match| %>
  <p><%= match.artist.artist_name %></p>
<% end %>
<p>and</p>
<%@matches.each do |match| %>
  <p><%= match.gallerist.name %> are matched!</p>
<% end %>
