.button-bl {
  font-family: 'Open Sans';
  font-weight: 400;
  text-transform: uppercase;
  font-size: 14px;
  padding: 12px 26px 12px;
  border-radius: 2em;
  border: 1px solid rgb(255, 255, 255);
  color: white;
  background-color: black;
  margin-top: 30px;
}

.button-wh {
  font-family: 'Open Sans';
  font-weight: 400;
  text-transform: uppercase;
  font-size: 14px;
  padding: 12px 26px 12px;
  border-radius: 2em;
  border: 1px solid rgb(255, 255, 255);
  color: rgb(0, 0, 0);
  background-color: rgb(255, 255, 255);
  margin-top: 30px;
}

.btn-love {
  color: white;
  background-color: #EC1A1A;
  padding: 8px 24px;
  border-radius: 2em;
  font-weight: lighter;
  opacity: 1;
  transition: opacity 0.3s ease;
}

.btn-love-modal {
  color: white;
  border: 1px solid black;
  background-color: black;
  padding: 8px 24px;
  border-radius: 2em;
  font-weight: lighter;
  opacity: 1;
  transition: opacity 0.3s ease;
}

.btn-love:hover {
  opacity: 0.8;
  color: white;
}

.btn-next {
  color: black;
  border: 1px solid black;
  background-color: white;
  padding: 8px 24px;
  border-radius: 2em;
  font-weight: lighter;
  opacity: 1;
  transition: opacity 0.3s ease;
}

.btn-next-modal {
  color: white;
  border: 1px solid black;
  background-color: black;
  padding: 8px 24px;
  border-radius: 2em;
  font-weight: lighter;
  opacity: 1;
  transition: opacity 0.3s ease;
}

.btn-next:hover {
  opacity: 0.8;
  color: black;
}

.btn-primary {
  color: #fff;
  background-color: #0089BA;
  border-color: #000;
}

.btn-success {
  color: black;
  background-color: white;
  border-color: #ced4da;
  margin-left: 86px;
}

.btn-success:not(:disabled):not(.disabled):hover,
.btn-success:not(:disabled):not(.disabled):active {
  color: black;
  background-color: WHITE;
  border-color: #ced4da;
}

.btn-keep-swiping {
  font-family: 'Ubuntu', sans-serif;;
  font-weight: 400;
  text-transform: uppercase;
  font-size: 14px;
  padding: 12px 26px 12px;
  border-radius: 2em;
  color: black;
  background-color: white;
  border: 1px solid black;
}

.btn.btn-ghost {
  color: black;
  font-size: 27px;
  border: 1px solid black;
  padding: 8px 24px;
  border-radius: 50px;
  font-weight: small;
  width: 318px;
}

.btn.btn-ghost:hover {
  opacity: 1;
}


.btn-ghost {
  color: black;
  border: 1px solid black;
  padding: 8px 24px;
  border-radius: 50px;
  font-weight: small;
  width: 318px;
}

.btn-ghost:hover {
  opacity: 1;
}

.btn-flat {
  color: white;
  padding: 8px 24px;
  border-radius: 4px;
  background: #1EDD88;
  transition: background 0.3s ease;
}

.btn-flat:hover {
  background: #1BCB7F;
  color: white;
}

.btn-gradient {
  color: white;
  padding: 8px 24px;
  border-radius: 4px;
  font-weight: bold;
  background: linear-gradient(#167FFB, #0F60C4);
  transition: background 0.3s ease;
  border: 1px solid #0F60C4;
}

.btn-gradient:hover {
  background: linear-gradient(#147EFF, #0F67DA);
  color: white;
}


.btn-circle {
  height: 75px;
  width: 75px;
  background-color:rgb(0, 0, 0);
  border-radius: 50%;
  position: fixed;
  bottom: 20px;
  right: 20px;

  i {
  color: white;
  position: fixed;
  font-size: 45px;
  bottom: 36px;
  right: 34px;
  }
}
