/* Dashboard artworks cards */

.card-artwork-dashboard {
  overflow: hidden;
  height: 120px;
  background: white;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.card-artwork-dashboard img {
  height: 100%;
  width: 120px;
  object-fit: cover;
}

.card-artwork-dashboard h2 {
  font-size: 16px;
  font-weight: bold;
  margin: 0;
}

.card-artwork-dashboard p {
  font-size: 12px;
  line-height: 1.4;
  opacity: .7;
  margin-bottom: 0;
  margin-top: 8px;
}

.card-artwork-dashboard .card-artwork-dashboard-infos {
  padding: 16px;
}


.card-img {
  border-radius: 50%;
  width: 15%;
}


/* Artworks index view card */

.card-like-dislike-btn {
  padding-top: 15px;
  padding-bottom: 28px;
}

.header {
margin-left: 25px;
font-family: 'Ubuntu';

}

.header-2 {
margin-left: 25px;
font-family: 'Ubuntu';
}

.container {
display: flex;
align-content: stretch;
flex-wrap: wrap;
flex-direction: column;
justify-content: space-between;
align-items: stretch;
margin-top: 50px;
margin-left: -5px;
}

.add-filter {
margin-bottom: -38px;
margin-left: 25px;
padding-top: 50px;
font-size: 33px;
font-weight: 100;
line-height: 30%;
font-family: 'Ubuntu';
}

.add-filter-2 {
font-weight: lighter;
font-size: 20px;
font-family: 'Ubuntu';
}
.add-more {
font-size: 20px;
font-weight: 100;
font-family: 'Ubuntu';
margin-bottom: 60px;
}


.card-product {
  overflow: hidden;
  height: 120px;
  background: white;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  display: flex;
  align-items: center;
}

.card-product img {
  height: 100%;
  width: 120px;
  object-fit: cover;
}

.card-product h2 {
  font-size: 16px;
  font-weight: bold;
  margin: 0;
}

.card-product p {
  font-size: 12px;
  line-height: 1.4;
  opacity: .7;
  margin-bottom: 0;
  margin-top: 8px;
}

.card-product .card-product-infos {
  padding: 16px;
}
