.swiper {
  margin-top: 41px;
  margin-bottom: 40px;
}

.swiper-cards {
  overflow: hidden;
}

// .swiper-wrapper {
//   position: relative;
//   width: 80%;
//   height: 80%;
//   z-index: 1;
//   display: flex;
//   transition-property: transform;
//   box-sizing: content-box;
// }

// .swiper-slide {
//   border-radius: 10px;
//   overflow: hidden;
//   background: white;
//   font-size: 18px;
// }

// .swiper-slide img {
//   height: auto;
//   width: 100%;
//   object-fit: cover;
//   //   display: block;
// }
