.tag-item {
  display: inline-block;
  margin-top: 35px;
  margin-left: 25px;
  font-family: 'Ubuntu';

}

.tag-selector {
  position: absolute;
  transform: scale(0);
}

.tag-selector + label {
  cursor: pointer;
  display: inline-block;
  padding: 13px 26px;
  background-color: black;
  color: white;
  margin-right: 0.6rem;
  margin-bottom: 0.4rem;
  font-family: 'Ubuntu';
}

.tag-selector:checked + label {
  background-color: red;
  color: white;
}
